@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #111;
}
html{
    font-size: 62.5%;
    font-family: 'Ubuntu', sans-serif;
}
.main{
    align-items: center;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}
.container{
    height: 37rem;
    width: 65rem;
    background: #fff;
    text-align: center;
    border-radius: 2rem;
}
.container h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    background: #fff;
    color: #111;
    font-size: 4rem;
    text-decoration: underline;
}
input{
    background: #111;
    color: #fff;
    border: none;
    border-radius: 2rem;
    height: 4rem;
    width: 12rem;
    margin-top: 21rem;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.5rem;
    transition: 0.5s all ease;
    margin-top: 1rem;
    text-align: center;
}
input:hover{
    color: #111;
    border: 1px solid #111;
    background: #fff;
    transform: scale(1.05);
}
#author{
    margin-top: 6rem;
    text-align: center;
    font-size: 3rem;
    color: #111;
    text-decoration: solid;
    background: #fff;
    margin-bottom: 3rem;
}
#quote{
    text-align: center;
    font-size: 2rem;
    color: #111;
    /* border: 1px solid #111; */
    height: 10rem;
    width: 50rem;
    margin: auto;
    background: #fff;
}